{% load static %}

<section class="brands wow fadeInUp">
	<div class="container">
		<div class="brands-title">
			<h2>ремонтирум все марки бытовой техники</h2>
		</div>
		<div class="brands-list">
			<div class="row">
				<img src="{% static 'img/brands/miele.png' %}" alt="miele">
				<img src="{% static 'img/brands/atlant.png' %}" alt="atlant">
				<img src="{% static 'img/brands/boch.png' %}" alt="boch">
				<img src="{% static 'img/brands/candy.png' %}" alt="candy">
			</div>
			<div class="row">
				<img src="{% static 'img/brands/ariston.png' %}" alt="ariston">
				<img src="{% static 'img/brands/electrolux.png' %}" alt="electrolux">
				<img src="{% static 'img/brands/indesit.png' %}" alt="indesit">
				<img src="{% static 'img/brands/samsung.png' %}" alt="samsung">
			</div>
			<div class="row">
				<img src="{% static 'img/brands/zanussi.png' %}" alt="zanussi">
			</div>
		</div>
	</div>
</section>