{% load static %}

<section class="reviews wow fadeInUp">
	<div class="container">
		<div class="reviews-title">
			<div class="like">
				<img src="{% static 'img/icons/symbols/like.png' %}" alt="like">
			</div>
			<h2>отзывы наших клиентов</h2>
		</div>
		<div class="reviews-body">
			
			<!-- Цикл отображения отзывов -->
			{% for review in reviews %}
				<div class="review">
					<div class="person">
						<span class="name">{{ review.name }}</span>
						<div class="stars">
							<img src="{% static 'img/icons/symbols/star.png' %}" alt="star">
							<img src="{% static 'img/icons/symbols/star.png' %}" alt="star">
							<img src="{% static 'img/icons/symbols/star.png' %}" alt="star">
							<img src="{% static 'img/icons/symbols/star.png' %}" alt="star">
							<img src="{% static 'img/icons/symbols/star.png' %}" alt="star">
						</div>
					</div>
					<div class="comment">
						<p>{{ review.message }}</p>
					</div>
					<p></p>
				</div>
			{% endfor %}
            <!-- Цикл отображения отзывов end -->
			
		</div>
	</div>
</section>