{% load static %}

<div class="overlay"></div>



<div class="general_nav" id="nav">
	<div class="top-nav">
		
		<div class="logo">
			<a href="#">
				<img class="photo" src="{% static 'img/logos/logo-bottom-min2@1X.png' %}" alt="logo">
			</a>
		</div>

		<nav class="nav">			
			<div><a class="nav-item" href="{% url 'main:main_view' %}">Главная</a></div>
			<div id="services">
				<a class="nav-item" href="#">Услуги</a>
				<ul class="sub-menu">
					<li><a href="{% url 'main:refrigerators_view' %}">ремонт холодильников</a></li>
					<li><a href="{% url 'main:washing_machines_view' %}">ремонт стиральных машин</a></li>
					<li><a href="{% url 'main:dishwashers_view' %}">ремонт посудомоечных машин</a></li>
					<li><a href="{% url 'main:coffee_machines_view' %}">ремонт кофемашин</a></li>
					<li><a href="{% url 'main:gas_stoves_view' %}">ремонт газовых плит</a></li>
					<li><a href="{% url 'main:hoovers_view' %}">ремонт пылесосов</a></li>
					<li><a href="{% url 'main:installation_view' %}">установка и подключение</a></li>
					<li><a href="{% url 'main:cleaning_of_air_view' %}">чистка кондиционеров</a></li>
				</ul>
			</div>
			<div><a class="nav-item" href="{% url 'main:discounts_view' %}">Скидки</a></div>
			<div><a class="nav-item" href="{% url 'main:faq_view' %}">faq</a></div>
			<div><a class="nav-item" href="{% url 'main:contacts_view' %}">Контакты</a></div>
			<div><a class="nav-item" href="{% url 'main:about_view' %}">О нас</a></div>	
        </nav>
        
		<div class="phone">
			<span class="phone-item">+7 (863) 309-00-03</span>
			<!-- <a><button class="phone-btn" onclick="back_call_on();">заказать звонок</button></a> -->
			<a href="{% url 'main:back_call_form' %}">
				<button class="phone-btn">
					заказать звонок
				</button>
			</a>
		</div>


		<div class="burger" onclick="mobile_menu_on()">
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
		</div>


		<div class="mobile_nav mobile_disabled">
			
			<div class="cross" onclick="mobile_menu_off()">
				X
			</div>
			<nav>
				<ul class="mobile_first_ul">
					<li><a href="{% url 'main:main_view' %}">главная</a></li>
					<li id="mobile_uslugi">
						услуги и ремонт
						<ul class="sub-menu">
							<li><a href="{% url 'main:refrigerators_view' %}">холодильников</a></li>
							<li><a href="{% url 'main:washing_machines_view' %}">стиральных машин</a></li>
							<li><a href="{% url 'main:dishwashers_view' %}">посудомоечных машин</a></li>
							<li><a href="{% url 'main:coffee_machines_view' %}">кофемашин</a></li>
							<li><a href="{% url 'main:gas_stoves_view' %}">газовых плит</a></li>
							<li><a href="{% url 'main:hoovers_view' %}">пылесосов</a></li>
							<li><a href="{% url 'main:installation_view' %}">установка и подключение</a></li>
							<li><a href="{% url 'main:cleaning_of_air_view' %}">чистка кондиционеров</a></li>
						</ul>
					</li>
					<li><a href="{% url 'main:discounts_view' %}">скидки</a></li>
					<li><a href="{% url 'main:faq_view' %}">faq</a></li>
					<li><a href="{% url 'main:contacts_view' %}">контакты</a></li>
					<li><a href="{% url 'main:about_view' %}">о нас</a></li>
				</ul>
			</nav>
		</div>
		
	</div>
	


	<!-- POPUP -->

	

	<!-- POPUP end -->




	<!-- СТРЕЛКА НАВЕРХ -->

	<div class="to-top">
		<a href="#nav">
			<button id="to-top">&uarr;</button>
		</a>
	</div>

	<!-- СТРЕЛКА НАВЕРХ end -->

</div>