{% load static %}



<!-- NAV -->

{% include 'main/components/top_nav.html' %}

<!-- NAV end -->



<!-- HEADER -->


<header class="header-chistka">

    <div class="container">
        <div class="header__square">
            <div class="square__title">
                <h1>чистка кондиционеров и сплит-систем</h1>
            </div>
            <div class="square__ul">
                    <span class="item"><img src="{% static 'img/icons/symbols/galka-green.png' %}" alt="galka">на дому</span>
                    <span class="item"><img src="{% static 'img/icons/symbols/galka-green.png' %}" alt="galka">быстро и недорого</span>
                    <span class="item"><img src="{% static 'img/icons/symbols/galka-green.png' %}" alt="galka">все модели</span>										
            </div>
            <div class="target_and_social">
                <div class="square__target-button">
                    <button onclick="zayavka_on();">
                        заказать чистку
                    </button>
                </div>
                <div class="square__social">
                    <a href="https://vk.com/public174262653" target="_blank">

                        <img class="social-item" src="{% static 'img/icons/social/icons8-vkontakte-48.png' %}" alt="vk">

                    </a>

                    <a href="https://ok.ru/group/61566536056877" target="_blank">

                        <img class="social-item" src="{% static 'img/icons/social/icons8-odnoklassniki-48.png' %}" alt="ok">

                    </a>

                    <a href="https://www.instagram.com/bytmaster_don/" target="_blank">

                        <img class="social-item" src="{% static 'img/icons/social/icons8-instagram-48.png' %}" alt="insta">

                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="ustanovka__red-line">
        <p><span class="white"></span></p>
    </div>	
</header>


<!-- HEADER end -->