{% extends 'main/layouts/base.html' %}
{% load static %}

<div>

    {% block header %}

        <!-- HEADER -->
        
        {% include 'main/components/top_nav.html' %}

        <div class="contacts__header"></div>

        <!-- HEADER end -->

    {% endblock %}


    {% block content %}

        <!-- CONTACTS -->

        <section class="contacts">
            <div class="contacts__red-line">
                <h2><span class="black">наши</span> контакты</h2>
            </div>
            <div class="container">
                <div class="contacts__content">
                    <div class="contacts-title">
                        <h3>
                            Вы можете задать любые вопросы или связаться с нами для вызова мастера. Для этого достаточно воспользоваться любым удобным для вас способом.
                        </h3>
                    </div>
                    <div class="contacts-info">
                        <p>Номер телефона: <span class="phone">+7 (863) 309-00-03</span></p>
                        <p><a href="{% url 'main:back_call_form' %}" class="contacts__back-call">Обратный звонок</a></p>
                        <p><a href="{% url 'main:zayavka_form' %}" class="contacts__zayavka">Онлайн вызов мастера</a></p>
                        <p>Наш адрес: <span class="address">344045, г. Ростов-на-Дону, ул. Лелюшенко 1</span></p>
                        <p>График работы: <span>Ежедневно с 9:00 до 20:00 часов, без перерыва</span></p>
                        <p>Электронная почта: <span>info@bytmaster-don.ru</span></p>
                        <div class="contacts-social">
                        <p>Мы в соцсетях:</p>
                            <a href="https://vk.com/public174262653"><img src="{% static 'img/icons/social/icons8-vkontakte-48.png' %}" alt="vk"></a>
                            <a href="#"><img src="{% static 'img/icons/social/icons8-odnoklassniki-48.png' %}" alt="ok"></a>
                            <a href="#"><img src="{% static 'img/icons/social/icons8-instagram-48.png' %}" alt="insta"></a>
                        </div>
                    </div>
                    
                    <div class="contacts-map">
                        <h3>Схема проезда</h3>
                        
                            <!--  здесь карта -->
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d956.7258325430995!2d39.73489318295053!3d47.29422710270902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40e3b7c3264e1899%3A0x71d39565a5afdd80!2z0YPQuy4g0JvQtdC70Y7RiNC10L3QutC-LCAxLCDQoNC-0YHRgtC-0LIt0L3QsC3QlNC-0L3Rgywg0KDQvtGB0YLQvtCy0YHQutCw0Y8g0L7QsdC7LiwgMzQ0MDQ1!5e0!3m2!1sru!2sru!4v1598442791902!5m2!1sru!2sru" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        
                    </div>
                </div>
            </div>
        </section>

        <!-- CONTACTS end -->

    {% endblock %}


    {% block footer %}

        {% include 'main/components/footer.html' %}

    {% endblock %}

</div>