{% extends 'main/layouts/base.html' %}
{% load main_tags %}
{% load static %}




    <!-- HEADER -->

    {% block header %}

        {% include 'main/headers/header_main.html' %}

    {% endblock %}

    <!-- HEADER  end -->



    {% block content %}


    <!-- ADVANTAGE -->


    {% include 'main/components/advantage.html' %}

    <!-- ADVANTAGE end -->



    <!-- CHOICE -->

    <section class="choice">
        <div class="grey-line"></div>
        <div class="choice-title">
            <div class="red-line">
                <h2>
                    <span class="black">наши услуги </span><span class="white">по ремонту и установке бытовой техники</span>
                </h2>
            </div>
        </div>
        <div class="container">
            <a href="{% url 'main:refrigerators_view' %}" class="wow fadeInUp">
                <div class="choice-item">
                    <img class="holod-image" src="{% static 'img/icons/technics/holod.png' %}" alt="holod">
                    <span class="choice-name">холодильник</span>
                    <button class="choice-btn">ремонт</button>
                </div>
            </a>
            <a href="{% url 'main:washing_machines_view' %}" class="wow fadeInUp">		
                <div class="choice-item">
                    <img src="{% static 'img/icons/technics/wash.png' %}" alt="wash">
                    <span class="choice-name">стиральная машина</span>
                    <button class="choice-btn">ремонт</button>
                </div>
            </a>
            <a href="{% url 'main:dishwashers_view' %}" class="wow fadeInUp">
                <div class="choice-item">
                    <img src="{% static 'img/icons/technics/posud.png' %}" alt="posud">
                    <span class="choice-name">посудомоечная машина</span>
                    <button class="choice-btn">ремонт</button>
                </div>
            </a>
            <a href="{% url 'main:coffee_machines_view' %}" class="wow fadeInUp">
                <div class="choice-item">
                        <img src="{% static 'img/icons/technics/cofee.png' %}" alt="cofee">
                        <span class="choice-name">кофеварка</span>
                        <button class="choice-btn">ремонт</button>
                </div>
            </a>
            <a href="{% url 'main:gas_stoves_view' %}" class="wow fadeInUp">
                <div class="choice-item">
                    <img src="{% static 'img/icons/technics/gaz.png' %}" alt="gaz">
                    <span class="choice-name">газовая плита</span>
                    <button class="choice-btn">ремонт</button>
                </div>
            </a>
            <a href="{% url 'main:hoovers_view' %}" class="wow fadeInUp">
                <div class="choice-item">
                    <img src="{% static 'img/icons/technics/pyl.png' %}" alt="pyl">
                    <span class="choice-name">пылесос</span>
                    <button class="choice-btn">ремонт</button>
                </div>
            </a>
            <a href="{% url 'main:installation_view' %}" class="wow fadeInUp">           
                <div class="choice-item">               
                        <img src="{% static 'img/icons/technics/ustanovka.jpg' %}" alt="ustanovka">               
                    <span class="choice-name">установка и подключение</span>
                    <button class="choice-btn">перейти</button>
                </div>
            </a>
            <a href="{% url 'main:cleaning_of_air_view' %}" class="wow fadeInUp">           
                <span class="choice-item">               
                    <img src="{% static 'img/icons/technics/chistka.jpg' %}" alt="chistka">
                    <span class="choice-name">чистка кондиционеров</span>
                    <button class="choice-btn">перейти</button>
                </span>
            </a>
        </div>
    </section>



    <!-- CHOICE end -->



    <!-- TEAM -->

    {% include 'main/components/team.html' %}

    <!-- TEAM end -->



    <!-- REVIEWS -->

    {% show_all_reviews %}

    <!-- REVIEWS end -->



    <!-- BRANDS -->

    {% include 'main/components/brands.html' %}

    <!-- BRANDS end -->



    <!-- DISCOUNT -->

    {% include 'main/components/discount.html' %}

    <!-- DISCOUNT end -->


    {% endblock %}


    <!-- FOOTER -->

    {% block footer %}

        {% include 'main/components/footer.html' %}

    {% endblock %}

    <!-- FOOTER end -->

</div>
