{% extends 'main/layouts/base.html' %}
{% load main_tags %}
{% load static %}



    <!-- HEADER -->

    {% block header %}

        {% include 'main/headers/header_refrigerators.html' %}

    {% endblock %}

    <!-- HEADER  end -->

    {% block content %}

    <!-- TROUBLES -->
    <section class="troubles-holod">
        <div class="container">
            <div class="title-top">
                <h2>итак, всё-таки он сломался...</h2>
            </div>
            <div class="troubles-items">
                <div class="trouble-image wow fadeInLeft">
                    <img src="{% static 'img/troubles/holod-trouble.png' %}" alt="holod-trouble">
                </div>
                <div class="troubles-list wow fadeInRight">
                    <div class="list">
                        <span><img src="{% static 'img/icons/symbols/cross.png' %}" alt="cross">Холодильник не морозит</span>
                        <span><img src="{% static 'img/icons/symbols/cross.png' %}" alt="cross">Не включается</span>
                        <span><img src="{% static 'img/icons/symbols/cross.png' %}" alt="cross">Работает без перерыва</span>
                        <span><img src="{% static 'img/icons/symbols/cross.png' %}" alt="cross">Сильно морозит и возникает иней</span>
                        <span><img src="{% static 'img/icons/symbols/cross.png' %}" alt="cross">Громко работает</span>
                        <span><img src="{% static 'img/icons/symbols/cross.png' %}" alt="cross">Скапливается вода под днищем</span>
                    </div>
                </div>
            </div>
            <div class="title-bottom wow fadeInUp">
                <h2><span>не отчаивайтесь...</span> мы вам поможем!</h2>
                <img src="{% static 'img/icons/symbols/galka-green.png' %}" alt="galka-green">
            </div>
        </div>
    </section>
    <!-- TRABLES end -->


    <!-- CHOICES -->

    {% include 'main/components/choices.html' %}

    <!-- CHOICES end -->


    <!-- PRICE-LIST -->
    <section class="price">
        <div class="container">
            <div class="price-title">
                <h2>наш прайс на ремонт холодильников всех марок</h2>
            </div>
            <div class="price-content">
                <table class="table">
                    <tr>
                        <th class="first_th">неисправность холодильника</th>
                        <th class="second_th">цена ремонта</th>
                    </tr>
                    <tr><td>Выезд мастера</td><td>Бесплатно</td></tr>
                    <tr><td>Диагностика</td><td>Бесплатно</td></tr>
                    <tr><td>Замена сетевого шнура</td><td>от 500 руб</td></tr>
                    <tr><td>Замена пуско-защитного реле (зависит от типа установленного мотор-компрессора)</td><td>от 1500 руб</td></tr>
                    <tr><td>Замена регулятора температуры</td><td>от 1500 руб</td></tr>
                    <tr><td>Замена лампы освещения</td><td>от 500 руб</td></tr>
                    <tr><td>Заправка фреоном (комплексная услуга, включает в себя весь спектр работ, обеспечивающих достижение хорошего результата)</td><td>от 2500 руб</td></tr>
                    <tr><td>Ремонт электроники (в случае,если ремонт вообще возможен)</td><td>50 % от стоимости новой электроники</td></tr>
                    <tr><td>Установка нового ПО (перепрограммирование)</td><td>от 1500 руб</td></tr>
                    <tr><td>Замена электронных сенсоров температуры</td><td>от 2500 руб</td></tr>
                    <tr><td>Замена вентилятора</td><td>от 2500 руб</td></tr>
                    <tr><td>Замена нагревателя оттайки системы "No frost"</td><td>от 2500 руб</td></tr>
                    <tr><td>Замена мотор-компрессора (комплексная услуга)</td><td>от 4000 руб</td></tr>
                    <tr><td>Замена магнитного уплотнителя двери</td><td>от 1500 руб</td></tr>
                    <tr><td>Замена навесных петель двери</td><td>от 2000 руб</td></tr>
                    <tr><td>Установка встроенной техники, монтаж мебельных фасадов</td><td>от 3500 руб</td></tr>
                    <tr><td>Подключение холодильника к системе водоснабжения</td><td>от 1500 руб</td></tr>
                    <tr><td>Перенавеска двери</td><td>от 1500 руб</td></tr>
                </table>
                <p>* Указана стоимость ремонта без учета стоимости запчасти</p>
            </div>
        </div>
    </section>
    <!-- PRICE-LIST end -->


    <!-- REVIEWS -->

    {% show_all_reviews %}

    <!-- REVIEWS end -->


    <!-- BRANDS -->

    {% include 'main/components/brands.html' %}

    <!-- BRANDS end -->


    <!-- DISCOUNT -->
        
    {% include 'main/components/discount.html' %}

    <!-- DISCOUNT end -->
            
    {% endblock %}

    {% block footer %}

        {% include 'main/components/footer.html' %}
        
    {% endblock %}

</div>